.h1{
    display: inline-block;
    font-size: 2.5rem;
    color:darkolivegreen;
    padding: 20px;
    margin: auto;
}

.h2, h2 {
    font-size: 2rem;
    padding: 40px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.col-4 {
    flex: 30%;
    max-width: 30%;
    margin-left: 80px;
}

.col-8 {
    flex: 0 0 50%;
    max-width: 70%;
}

.col-10 {
    flex: 0 0 50%;
    max-width: 100%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.img-thumbnail {
    padding: .5rem;
    background-color:black;
    border:black;
    border-radius:.25rem;
    max-width: 100%;
    height: auto;
}

.contact {
    justify-content:center;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fa {
    display: inline-block;
    padding:25px;
    font-size:40px;
    width: 40px;
    text-align:center;
}

/* .fa-linkedin {
    background-color: black;
    color: white
} */

.contact-body {
    margin-right: 40px;
    margin-left: 40px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1140px;
}

.form-group {
    display: block;
    width: 100%;
    padding: .5rem
}

.article {
    display:block;
}