header {
    overflow: auto;
    background-color:rgb(192, 217, 226);

}

h1{
    display: inline-block;
    font-size: 48px;
    color:darkolivegreen;
    padding: 20px;
    margin: auto;
}

nav {
    padding-top: 20px;
    margin-right: 20px;
    float: left;
    font-size: 20px;
    color: white;

}

.navbar-item {
    text-decoration: white;
    padding: 15px;
    display: inline-block;
    color:darkolivegreen;
}

.container {
    margin: 30px 
    padding: 20px;
    width: 90%;
    background-color: lightslategray
}

.card {
    width: 15px;
    height: 15px;
}

.card-img-top {
    max-height: 30px;
}

article {
    margin-right:50px;
}

.btn {
    background-color: skyblue;
}

.row {
    display: flex;
    flex-wrap: wrap;
}